html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* General Styles */
body {
  background-color: #edfeff;
  color: #142b68;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

.gameBoard {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hand {
  width: 100%;
}

.hand__card-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* background: pink; */
  width: 100%;
}

.hand__card-item {
  --w: Min(Max(20px, 8vw), 50px);
  width: var(--w);
  /* -1 * ((width * 4) - width) / 2 */
  transform: translateX(calc(var(--w) * -1.5));
}

.hand__card-img {
  display: block;
  /* overflow so that cards will overlap */
  width: 250%;
}

.card__dealer-facedown {
  position: relative;
}

.card__dealer-facedown::after {
  content: '';
  display: block;
  background-image: url('./assets/back-of-card.png');
  width: 250%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
}

.card__dealer-facedown img {
  visibility: hidden;
}

/* Title Styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edfeff;
  min-height: 100vh;
}

.header__title {
  font-size: 50px;
  letter-spacing: 1px;
}

.header__rules-container {
  border: 2px solid #ff0;
  box-shadow: 1px 1px #ffd000, -1px -1px #ffd000;
  margin-bottom: 40px; 
  
}

.header__list-header {
  letter-spacing: 1px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0px;
}

.header__list-container {
  padding: 45px;
  font-weight: bold;
}

.header__list-container li {
  /* list-style: none; */
  font-size: 18px;
  padding: 2px 0px;
}

/* Button Styles */
/* NOTE subject to change */
.btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ff0;
  color: #142b68;
  border: 2px solid #142b68;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  background-color: #ffd000;
}

.btn__container {

  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn__hit,
.btn__double,
.btn__stand {
  flex: 0 0 calc((100% / 3));
}

.btn__deal {
  width: 100%;

}

.hideButtons {
  display: none;
}

/* Experience Bar Styles */
.expbar {
  width: 90%;
  height: 40px;
  text-align: center;
  border: 3px solid #142b68;
  margin: 0 auto;
  /* new content */
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.expbar__title {
  font-size: 24px;
  /* new content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* new content  */
.expbar__fill {
  width: 100%;
  height: 100%;
  background-color: palevioletred;
  transition: width 0.5s;
}
/* new content */

/* Sprite Styles */
.sprite__container {
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    position: relative;
}

.sprite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.sprite__name {
    position: absolute;
    bottom: -5px;
    text-align: center;
    min-width: 96px;
    color: #ffff00;
    background-color: #142b68;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    left: 50px;
}

.sprite__name-dealer {
  left: calc(50% - 96px);
}

.sprite__left-img {
    transform: scaleX(-1);
}

.sprite__dealer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sprite__betContainer {
  position: absolute;
  left: 100px;
  border-radius: 50%;
  border: 2px solid #142b68;
  background-color: #ffff00;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite__betAmount {
  margin: 0;
}

.disabled {
  opacity: .5;
  background-color: #f1f1f1;
  border: 2px solid #686868;
}

.disabled:hover {
  background-color: #f1f1f1;
}